<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.player" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />	
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Permissions used by WebView. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:icon="@drawable/app_notes"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoTitle"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.baidu.player.action.BROWSER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SearchActivity"
                  android:theme="@style/NoTitle.AnimationTranslucent"
                  android:configChanges="orientation|keyboardHidden"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  >
            <!-- Handle global search. -->
            <intent-filter>
                <action android:name="android.search.action.GLOBAL_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 开放搜索 -->
            <intent-filter>
                <action android:name="com.baidu.player.action.BAIDU_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> 
        </activity> 

    </application>

</manifest>